.fundo-imagem {
  height: 100%;
  width: 100%;
}

.botao-scan {
  background: #e06f6f;
  color: white;
  width: 85%;
  height: 30px;
  border-radius: 9px;
  position: absolute;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}
