.tabela-produto {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: absolute;
  width: 100%;
}

.table-content {
  margin-top: 105px;
  height: 100%;
  display: flex;
  margin: 95px 0;

  .quantidade-porcao {
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #dddddd;
    height: 35px;
    display: flex;
    align-items: center;
    width: 230px;
  }

  .valor-diario-tabela {
    border: 1px solid #dddddd;
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 35px;
    width: 70px;
    justify-content: center;
  }

  .valor-diario {
    width: 70px;
    text-align: center;
  }
  table {
    margin: 30px;
    margin-top: 54px;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
}
